.text-field {
    margin-left: 40px;
    width: 800px;
}
h1 {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 15px;
    color: rgb(192, 61, 61);
}
#g-icon {
    height: 40px;
    width: 120px;
}
#search {
    margin-left: 45px;
    margin-top: 30px;
}
button {
    margin-top: 20px;
    margin-left: 500px;
}
#google_search {
    margin-left: 900px;
}