{% extends "encyclopedia/layout.html" %}
{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <form action="{% url 'saveeditpage' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-titles">{{entryTitle}}</label>
            <input type="hidden" name="title" value= "{{entryTitle}}">
        </div>  
        <div>
            <label class="form-titles">Edit content</label>
            <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="8">{{entry}}</textarea>
        </div>    
        <button type="submit" class="btn btn-outline-dark">Save</button>
    </form>      
{% endblock %}